---
import TabBar from "./TabBar.astro";
import HttpWorkbench from "./HttpWorkbench.tsx";
---

<main class="flex flex-col bg-pm-bg-primary overflow-hidden">
	<TabBar />
	<div class="flex-1 flex flex-col overflow-hidden">
		<HttpWorkbench client:load />
	</div>
</main>
