---
import RequestBar from "./RequestBar.astro";
import RequestConfigTabs from "./RequestConfigTabs.astro";
import ParamsTable from "./ParamsTable.astro";
import AuthPanel from "./AuthPanel.astro";
import HeadersTable from "./HeadersTable.astro";
import BodyEditor from "./BodyEditor.astro";
import PreRequestPanel from "./PreRequestPanel.astro";
import TestsPanel from "./TestsPanel.astro";
import SettingsPanel from "./SettingsPanel.astro";
---

<div class="flex flex-col">
	<RequestBar />

	<RequestConfigTabs>
		<!-- Params panel -->
		<div id="tabpanel-params" data-panel="params" role="tabpanel" class="p-4">
			<ParamsTable />
		</div>

		<!-- Auth panel -->
		<div id="tabpanel-auth" data-panel="auth" role="tabpanel" class="hidden p-4">
			<AuthPanel />
		</div>

		<!-- Headers panel -->
		<div id="tabpanel-headers" data-panel="headers" role="tabpanel" class="hidden p-4">
			<HeadersTable />
		</div>

		<!-- Body panel -->
		<div id="tabpanel-body" data-panel="body" role="tabpanel" class="hidden p-4">
			<BodyEditor />
		</div>

		<!-- Pre-request panel -->
		<div id="tabpanel-pre-request" data-panel="pre-request" role="tabpanel" class="hidden p-4">
			<PreRequestPanel />
		</div>

		<!-- Tests panel -->
		<div id="tabpanel-tests" data-panel="tests" role="tabpanel" class="hidden p-4">
			<TestsPanel />
		</div>

		<!-- Settings panel -->
		<div id="tabpanel-settings" data-panel="settings" role="tabpanel" class="hidden p-4">
			<SettingsPanel />
		</div>
	</RequestConfigTabs>
</div>
