---
import SidebarTabs from "./SidebarTabs.astro";
import EnvironmentPanel from "./EnvironmentPanel";
import CollectionPanel from "./CollectionPanel";
import HistoryPanel from "./HistoryPanel";
---

<aside
	class="fixed lg:relative inset-y-0 left-0 z-50 bg-pm-bg-secondary border-r border-pm-border flex flex-col overflow-hidden -translate-x-full lg:translate-x-0 transition-transform duration-300 relative"
	role="navigation"
	aria-label="Sidebar navigation"
>
	<SidebarTabs>
		<!-- Collections panel -->
		<div
			id="tabpanel-collections"
			data-panel="collections"
			role="tabpanel"
			aria-labelledby="tab-collections"
			class="flex-1 overflow-y-auto p-2"
		>
			<CollectionPanel client:only="preact" />
		</div>

		<!-- Environments panel -->
		<div
			id="tabpanel-environments"
			data-panel="environments"
			role="tabpanel"
			aria-labelledby="tab-environments"
			class="hidden flex-1 overflow-y-auto p-2"
		>
			<EnvironmentPanel client:only="preact" />
		</div>

		<!-- History panel -->
		<div
			id="tabpanel-history"
			data-panel="history"
			role="tabpanel"
			aria-labelledby="tab-history"
			class="hidden flex-1 overflow-y-auto p-2"
		>
			<HistoryPanel client:idle />
		</div>
	</SidebarTabs>
	<pm-sidebar-resize
		class="absolute top-0 right-0 h-full w-1 z-10 cursor-col-resize hover:bg-pm-accent/30 transition-colors"
		aria-hidden="true"
	></pm-sidebar-resize>
</aside>

<script>
	import "../../scripts/sidebar-resize.ts";
</script>
